<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro"
  name="kurtana">

  <property name="M_PI" value="3.1415926535897931" />

  <!-- ******************** -->
  <!-- *** KURTana Rack *** -->
  <!-- ******************** -->
  
  <include filename="$(find kurtana_bringup)/urdf/kurtana_rack.urdf.xacro" />

  <property name="kinect_x_offset" value="0.03" />
  <property name="kinect_y_offset" value="0.0" />
  <property name="kinect_z_offset" value="0.02" />


  <!-- ************************ -->
  <!-- *** Microsoft Kinect *** -->
  <!-- ************************ -->
  
  <include filename="$(find kurtana_bringup)/urdf/kinect.urdf.xacro" />
  <xacro:kinect camera="kinect" />

  <joint name="kurtana_kinect_joint" type="fixed">
    <parent link="kurtana_kinect_mounting_plate_link" />
    <child  link="kinect_link" />
    <origin xyz="${kinect_x_offset} ${kinect_y_offset} ${kinect_z_offset}" rpy="0 0 0"/>
  </joint>
  

  <!-- **************************** -->
  <!-- *** Jaco Arm *** -->
  <!-- **************************** -->
  
 <include filename="$(find jaco_description)/urdf/gazebo/jaco.urdf.xacro" />

  <joint name="kurtana_baseplate_katana_baseplate_joint" type="fixed">
    <parent link="katana_baseplate_link" />
    <child link="jaco_base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>


</robot>
